# Backend
PORT=4000
DATABASE_URL="postgresql://postgres:[username]:[password]@[host]:[port]/[database]?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[username]:[password]@[host]:[port]/[database]"
JWT_SECRET="your-jwt-secret-key-here"

# Supabase
SUPABASE_URL="https://your-project.supabase.co"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:4000"
